.detail{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.video{
    width: 80%;
}

.info{
    padding-top: 0.5rem;
}

.title{
    font-size: 1.3rem;
    font-weight: bold;
}

.description{
    background-color: #363636;
    width: 100%;
    height: 6rem;
    border-radius: 1rem;
    padding: 1rem 0.8rem;
    word-break:break-all;
    font-weight: bold;
    font-size: 0.9rem;
}

.related{
    width: 20%;
}