header{
    padding: 0.5rem 2rem;
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon{
    color: #33c2ff;
    font-size: 1.5rem;
    margin-right: 0.2rem;
}

.title{
    color: white;
    font-size: 1.5rem;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
    border: 1px solid grey;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: white;
    outline: none;
    background-color: #3b3b3b;
}

.text:hover{
    border-color: #33c2ff;
}

.searchBtn{
    border: 1px solid grey;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-left: none;
    padding: 0.5rem 1rem;
    font-size: 1.05rem;
    color: white;
    outline: none;
    background-color: #3b3b3b;
}

.searchBtn:hover{
    filter: brightness(125%);
}

.btns{
    display: flex;
    align-items: center;
}

.btn{
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.4rem;
    border: 1px solid transparent;
    padding: 0.2rem;
}

.btn:hover{
    background-color: #3b3b3b;
    border-color: grey;
}

.github,.mode{
    color: white;
    font-size: 1.4rem;
}