header{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon{
    color: #009fd9;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}