.card{
    cursor: pointer;
}

.img{
    border-radius: 1rem;
    width: 100%;
}

.title{
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.channel,.date{
    opacity: 0.8;
    font-size: 0.8rem;
}